.mdl-textfield__label{
    margin-bottom: 0;
}

.spacer {
    margin-top: 40px; /* define margin as you see fit */
}

.margin-h4{
    padding-bottom: 24px;
}



/* some css for app's element */

#div-text, #div-key, #div-result{
    width: 100%;
}

#text{
    width: 100%;
}

.mdl-textfield--floating-label.is-dirty #result-label{
    color: rgb(63, 81, 181);
}

#result{
    border-bottom: 1px solid rgba(0,0,0,.12);
    color: rgb(51, 51, 51);
}
